<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>It is time to login </div>
    <div>
        <div>
            <input type="text" id="inputField1" name="username">
            <input type="password" id="inputField2" name="password"> <!-- Fixed typo from 'pinputField2' to 'inputField2' -->
            <input type="button" value="Submit" onclick="sendPostRequest()"> <!-- Changed to 'type="button"' to prevent form submission if within a form -->
        </div>
    <a href="http://localhost:8080/register">Register?</a>
    <div id="myDiv"style="display: none">There is no login with such password!</div>
    </div>

    <script>
    async function sendPostRequest() {
        // Get the values from input fields
        const fieldValue1 = document.getElementById('inputField1').value;
        const fieldValue2 = document.getElementById('inputField2').value;

        // Prepare the data to be sent in the POST request
        const postData = {
            username: fieldValue1,
            password: fieldValue2
        };

        try {
            const response = await fetch('login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            });
            
            if (response.ok) {
                const jsonResponse = await response.json();
                console.log('Server response:', jsonResponse);
                window.location.href = "http://localhost:8080/main";
            } else {
                var myDiv = document.getElementById("myDiv");
                myDiv.style.display = 'block';
                console.error('Error in response:', response.status, response.statusText);
            }
        } catch (error) {
            var myDiv = document.getElementById("myDiv");
            myDiv.style.display = 'block';
            console.error('Error in fetch:', error);
        }
    }
    </script>
</body>
</html>